# 파이썬 문제 풀이

## 2번 문제

data = [ "서울","부산","대구","인천"   ] 
 
위 리스트의 마지막에 "천안" 을 추가하고, 출력하세요. <br>
위 리스트의 2번째에 "제주" 을 추가하고, 출력하세요.   <br>
위 리스트의 첫번째 요소를 삭제하고, 출력하세요. . <br>
위 리스트에서 "대구"를 삭제하고, 출력하세요.  <br>
위 리스트에서 "제주"이라는 문자열은 몇번째 위치하는가?

In [122]:
data = [ "서울","부산","대구","인천" ]

data.extend(["천안"])
print(data)

data.insert(1,"제주")
print(data)

del data[0]
print(data)

data.pop(2)
print(data)

data.index("제주")

['서울', '부산', '대구', '인천', '천안']
['서울', '제주', '부산', '대구', '인천', '천안']
['제주', '부산', '대구', '인천', '천안']
['제주', '부산', '인천', '천안']

0

## 3번 문제

#### 1)
game = {"가위":1,
        "바위":2,
        "보"  : 3 }  

위와 같은 딕셔너리가 있습니다. 
사용자로 부터 "가위, 바위,  보" 중 하나를 입력받고, 그 값을 key로 
딕셔너리에서 value를 조회하여 출력합니다.   

 
2)

사용자로 부터 이름, 주소를 입력받고, 
user라는 딕셔너리에 저장합니다. 
예를 들어, 이름을 홍길동 입력, 주소를 서울 입력했으면 
user = {"name" : "홍길동", "address" : "서울" } 
의 딕셔너리를 만들고, 그 정보를 출력합니다. 



3) 
price = { "피자" : 10000 ,  "김치볶음밥" : 5000, "짜장면" : 4500, "김밥" : 2000 }
order = { "피자" : 3 ,  "김치볶음밥" : 2,  "김밥" : 5 }  

위와 같이 제품의 가격 정보가 있는 딕셔너리와
                 주문 정보가 있는 딕셔너리가 있다.  
총 주문 가격을 출력하세요. 

 
주문한 모든 제품 명을 출력하세요. 
주문한 음식은 총 몇인분 인지 출력하세요. 

주문한 음식 중에 짜장면이 있는지 출력하세요.

3-1

In [124]:
game = {"가위" : 1, "바위" : 2, "보" : 3 }

key = input("가위,바위,보 중 적어주세요. : ")
if key in game :
    print(game[key])
else:
    print("존재하지 않는 값입니다.")

가위,바위,보 중 적어주세요. : 가위
1

3-2

In [165]:
to = []

name = input("사용자 이름을 넣어주세요 : ")
address = input("주소를 적어주세요 : ")

사용자 이름을 넣어주세요 : d
주소를 적어주세요 : d
d

3-3

In [170]:
price = { "피자" : 10000 , "김치볶음밥" : 5000, "짜장면" : 4500, "김밥" : 2000 } 
order = { "피자" : 3 , "김치볶음밥" : 2, "김밥" : 5 }

for i in price:
    print(i in order)

True
True
False
True

# 4번 문제

1)

점수를 입력받고, 
점수가 0~100 사이의 값이 아니면,  "점수 입력이 잘못되었습니다" 출력 <br>
점수가 100~91 사이의 값이면, "A" 출력 <br>
점수가 90~60 사이의 값이면, "B" 출력 <br>
점수가 60~51 사이의 값이면, "C" 출력 <br>
점수가 50~0 사이의 값이면, "D" 출력 <br>


2)

숫자를 입력받고, 
3의 배수이면 "3의 배수" 출력. 
5의 배수이면 "5의 배수" 출력. 
7의 배수이면 "7의 배수" 출력. 
2의 배수이면 "2의 배수" 출력.  
그렇지 않으면 "해당되는 값이 없습니다" 출력

4-1

In [48]:
number =input("점수를 입력해주세요 : ")
number = int(number)

if number < 0 and number>100 :
    print("점수 입력이 잘못되었습니다.")
elif number <=100 and number > 90:
    print("A")
elif number <= 90 and number >= 60:
    print("B")
elif number <=60 and number >51:
    print("C")
elif number <=50 and number >0:
    print("D")
else :
    print("잘못된 값입니다.")

점수를 입력해주세요 : 50
D

4-2

In [50]:
number =input("점수를 입력해주세요 : ")
number = int(number)

if number %3 == 0 :
    print("3의 배수입니다.")
elif number %5 == 0 :
    print("5의 배수입니다.")
elif number %7 == 0 :
    print("7의 배수입니다.")
elif number %2 == 0 :
    print("2의 배수입니다.")
else:
    print("해당되는 값이 없습니다.")

점수를 입력해주세요 : 66
3의 배수입니다.

# 5번 문제

5-1

In [127]:
txt="Python"
for i in range(7):
    print(txt[:i])

P
Py
Pyt
Pyth
Pytho
Python

5-2

In [81]:
i = 0
for i in range(1, 6) :
    print("*" * i)

*
**
***
****
*****

5-3

In [84]:
i = 0
for i in range(5, 0, -1) :
    print("*" * i)

*****
****
***
**
*

5-4

In [107]:
for i in range(101):
    if i %5 != 0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

5-5

In [151]:
a = input('등록할 학생의 이름을 입력하세요. : ')
b = input('등록할 학생의 이름을 입력하세요. : ')

등록할 학생의 이름을 입력하세요. :

ValueError: invalid literal for int() with base 10: ''

### 6번

1) 
data = [10, 100, 70,99 ,22 ] <br>
For 문을 이용하여 data 합과 평균을 구하세요. <br>

2) 
data = [10, 333, 6 ,99 ,22 ] <br>
For 문을 이용하여 data 합을 구하세요. <br>
단, 3의 배수인 숫자만 합을 구합니다.

In [134]:
data = [10,100,70,99,22]

sum = 0
for i in data :
    sum += i
print(sum)

aver = 0
for i in data :
    aver +=i
print(aver/5)

301
60.2

In [147]:
data = [10, 333, 6 ,99 ,22 ]

sum = 0
for i in data :
     if (i%3 == 0):
        sum += i
print(sum)

438