# 챕터 2-1 자료형과 문자열

In [1]:
print("허훈")

허훈

In [2]:
print('안녕하세요')
print(type('안녕하세요'))
print(type(270))

안녕하세요
<class 'str'>
<class 'int'>

### print 을 해야 모두 출력해준다.

In [3]:
('안녕하세요')
(type('안녕하세요'))
print(type(270))

<class 'int'>

In [4]:
print ( '안녕하세요'+ " "+ '저는'+ " "+ '허훈입니다.')

안녕하세요 저는 허훈입니다.

In [5]:
print ( "'배불러서' 졸려요." )

'배불러서' 졸려요.

In [6]:
print ( "\t'배불러서' \n 졸려요." )

	'배불러서'
 졸려요.

\t 탭 <br>
\n 줄바꾸기

In [7]:
print ("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
(후렴)
가
나
다
라

무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
(후렴)
가
나
다
라

무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세

In [8]:
print("안녕하세요"+"1")

안녕하세요1

In [9]:
print("안녕하세요"+" "+"하이")

안녕하세요 하이

In [10]:
print(("안녕하세요" + " " )* 3)

안녕하세요 안녕하세요 안녕하세요

In [11]:
print(("ㅋㅋㄹㅃㅃ" + " ") * 5)

ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ

In [12]:
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

안
녕
하
세
요

In [13]:
print("안녕하세요"[0])
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])

안
요
세
하
녕

In [14]:
print('안녕하세요'[0:5])

안녕하세요

In [15]:
print('안녕하세요'[1:])

녕하세요

In [16]:
hellooo = "안녕하세요"
print(hellooo[0:5])

안녕하세요

In [17]:
print(len(hellooo))

5

In [18]:
print("# 연습문제")
print("\\\\\\\\")
print(("_"+" ") * 8)

# 연습문제
\\\\
_ _ _ _ _ _ _ _

In [19]:
print('안녕하세요'[0])
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

안
녕
하
세
요

In [20]:
print('안녕하세요'[:])

안녕하세요

# 챕터 2-2

In [21]:
a = int(137080)
a

137080

In [22]:
137080 % 500

80

In [23]:
money = 137080

c500 = money // 500
money %= 500 # 500으로 나눈 나머지

c100 = money // 100
money %= 100 # 100으로 나눈 나머지

c50 = money // 50
money %= 50 # 50으로 나눈 나머지

c10 = money // 10
money %= 10 # 10으로 나눈 나머지

print('오백원\t==> %d 개'%c500)
print('백원\t==> %d 개'%c100)
print('오십원\t==> %d 개'%c50)
print('십원\t==> %d 개'%c10)
print('잔돈\t==> %d 원'%money)

오백원	==> 274 개
백원	==> 0 개
오십원	==> 1 개
십원	==> 3 개
잔돈	==> 0 원

In [24]:
money = 137080
money

137080

In [25]:
a = money // 500
money %= 500

b = money // 100
money %=100

c = money // 50
money %=50

d = money // 10
money %=10

print('오백원 개수 :', a)
print('백원 개수 :', b)
print('오십원 개수 :', c)
print('십원 개수 :', d)

오백원 개수 : 274
백원 개수 : 0
오십원 개수 : 1
십원 개수 : 3

# 챕터 2-3

In [26]:
pi = 3.14159265
print( pi + 2)
print( pi - 2)
print( pi * 2)
print( pi / 2)
print( pi % 2)
print( pi *pi)

5.14159265
1.1415926500000002
6.2831853
1.570796325
1.1415926500000002
9.869604378534024

In [27]:
a = 10
a+=10
a

20

### input

In [28]:
string = input( "인사말을 입력하세요" )
print(string + " !!!")

인사말을 입력하세요하이
하이 !!!

### input = 무조건 str으로 나온다(+ 연산이 되지 않는다)

In [29]:
string = input( "숫자를 입력하세요" )
print(string + " !!!")
print(type(string))

숫자를 입력하세요40
40 !!!
<class 'str'>

In [30]:
string = input( "숫자를 입력하세요" )
print(string + " !!!")
print(type(string))

print(string + 100)

숫자를 입력하세요50
50 !!!
<class 'str'>

TypeError: can only concatenate str (not "int") to str

# 캐스트 (데이터 종류 변환)

In [32]:
a = input("국어 점수를 입력하세요.")
int_a = int(a)
b = input("영어 점수를 입력하세요.")
int_b = int(b)
c = input("수학 점수를 입력하세요.")
int_c = int(c)

total = int_a + int_b + int_c

print("총합은 : ", total)


average = (int_a + int_b + int_c)/3

print("평균은 : ", average)

print(type(int_a))

국어 점수를 입력하세요.80
영어 점수를 입력하세요.60
수학 점수를 입력하세요.99
총합은 :  239
평균은 :  79.66666666666667
<class 'int'>

In [33]:
apple = input("사과 주문량을 적어주세요 :")

pear = input("배 주문량을 적어주세요 :")

total = ((int(apple)*1000) + (int(pear)*2000))
print('총 가격은',total,"입니다.")

사과 주문량을 적어주세요 :5
배 주문량을 적어주세요 :2
총 가격은 9000 입니다.

# 챕터 2-4 숫자와 문자열의 다양한 기능

In [34]:
message = " {} 안녕하세요"
print(message.format( "홍길동" ))

message2 = " {} 안녕"
print(message2.format( "홍길동" ))

 홍길동 안녕하세요
 홍길동 안녕

In [35]:
# 사과가 1000원입니다.
# 배가 3000원입니다.

fruit1= '사과'
price1 = 1000

message = '{}가 {}원 입니다.'.format(fruit1,price1)
print(message)

사과가 1000원 입니다.

In [36]:
fruit1= '사과'
price1 = 1000

message = '{:5s}가 {:5d}원 입니다.'
print(message.format(fruit1,price1))
print(message.format('배',3000))

사과   가  1000원 입니다.
배    가  3000원 입니다.

In [37]:
output_a = "{:15.3f}".format(57.273)
output_b = "{:15.2f}".format(57.273)
output_c = "{:15.1f}".format(57.273)

print(output_a)
print(output_b)
print(output_c)

         57.273
          57.27
           57.3

In [38]:
a = "hello python"
print(a.upper())
#복사를 해서 바꾼다.(대입하는 방식은 아니다.)
print(a)

HELLO PYTHON
hello python

In [39]:
a = "hello python"
a = a.upper()
print(a)

HELLO PYTHON

### 공백 제거 함수

In [40]:
input_a = """
        안녕하세요
    문자열의 함수를 알아봅시다.

"""

In [41]:
name = input("이름을 입력하세요.")
name.strip()

이름을 입력하세요.

''

In [42]:
data = "10"

print(data.isdigit())

True

In [43]:
output_a = '안녕안녕안뇽안늉'.find('안뇽')
print(output_a)

4

In [44]:
print("잘가" in "안녕하세요")
print("안녕" in "안녕하세요")

False
True

In [45]:
a = "10 20 30 40 50".split( " " )
print(a)

['10', '20', '30', '40', '50']

In [46]:
a = "10: 20: 30: 40: 50".split( ":" )
print(a)

['10', ' 20', ' 30', ' 40', ' 50']

# 문제

1) lab03_1.py

hello = " tvN JTBC mbc Kbs tv조선 채널A " 

위 문자열을 모두 대문자로 출력하세요. 
위 문자열을 모두 소문자로 출력하세요. 
위 문자열에서 "tv" 문자열은 총몇번 나오는가? 
위 문자열에서 "JTBC" 문자열은 몇번째 위치에 있는가? 
위 문자열에서 "JTBC" 문자열 위치부터 끝까지 출력하시오.
위 문자열에서 왼쪽 공백 문자열을 제거하고 출력하시오.
위 문자열에서 "tv" 문자열을 "티브"라는 문자열로 변경하여 출력하시오.
위 문자열을 길이를 출력하시오.

2) lab03_2.py

다음과 같이 학생의 시험점수가 있습니다.  

data1 ="홍길동:80:90:70" 
data2 ="김영희:90:90:90"  

각 학생의 이름과 점수의 합, 평균을 
출력하는 프로그램을 작성하세요.
 

3)   lab03_3.py

str = "workspace"  일때 
다음과 같이 출력되도록 프로그램(lab03_3.py) 을 작성합니다. 
 
 1).str문자열 중 space 문자열은 몇번 인덱스에 있는가? 
 2).str문자열 중  k 문자열은 몇번나오는가? 
 3).str문자열 중 "space"를 "공간"이라고 바꾸어 출력합니다.

## 1번

In [47]:
hello = " tvN JTBC mbc Kbs tv조선 채널A "
print(hello.upper( ))
print(hello.lower( ))
print(hello.count("tv"))
print(hello.rfind("JTBC"))
print(hello[5:])
print(hello.lstrip())
print(hello.replace("tv", "티브"))
print(len(hello))

 TVN JTBC MBC KBS TV조선 채널A
 tvn jtbc mbc kbs tv조선 채널a
2
5
JTBC mbc Kbs tv조선 채널A
tvN JTBC mbc Kbs tv조선 채널A
 티브N JTBC mbc Kbs 티브조선 채널A
27

## 2번

In [49]:
data1 ="홍길동:80:90:70" 
data2 ="김영희:90:90:90"  

data_1 = data1.split( ":")
data_2 = data2.split( ":")

data_1_1 = data_1[1:]
data_2_2 = data_2[1:]

print(data_1_1)
print(data_2_2)

alldata = data1.split(":")
print(alldata)
name = alldata[0]
score1 = int( alldata[1] )
score2 = int( alldata[2] )
score3 = int( alldata[3] )

sum1 = score1 + score2 + score3
avg1 = sum1 / 3

message = "{}의 점수 합은 {:3d}이고 평균은 {:.2f}입니다. " 
print(  message.format(name,sum1,avg1)  )

['80', '90', '70']
['90', '90', '90']
['홍길동', '80', '90', '70']
홍길동의 점수 합은 240이고 평균은 80.00입니다.

## 3번

In [50]:
str = "workspace"

In [51]:
str = "workspace"

print(str.find("space"))
print(str.count("k"))
print(str.replace("space","공간"))

4
1
work공간

# 정답

In [52]:
hello = " tvN JTBC mbc Kbs tv조선 채널A " 

#위 문자열을 모두 대문자로 출력하세요. 
print(hello.upper()) 
#위 문자열을 모두 소문자로 출력하세요. 
print(hello.lower())  
#위 문자열에서 "JTBC" 문자열은 몇번째 위치에 있는가? 
print(hello.find("JTBC")) 
#위 문자열에서 "JTBC" 문자열 위치부터 끝까지 출력하시오.
start = hello.find("JTBC")
print(hello[start : ] ) 
#위 문자열에서 왼쪽 공백 문자열을 제거하고 출력하시오.
print(hello.lstrip())  #

#위 문자열에서 "tv" 문자열을 "티브"라는 문자열로 변경하여 출력하시오. 
print(hello.replace("tv","티브"))
 
#위 문자열을 길이를 출력하시오.
print(len(hello))

 TVN JTBC MBC KBS TV조선 채널A
 tvn jtbc mbc kbs tv조선 채널a
5
JTBC mbc Kbs tv조선 채널A
tvN JTBC mbc Kbs tv조선 채널A
 티브N JTBC mbc Kbs 티브조선 채널A
27

In [53]:
data1 ="홍길동:80:90:70" 
data2 ="김영희:90:90:90"  

#각 학생의 이름과 점수의 합, 평균을 
#출력하는 프로그램을 작성하세요.

name = data1[:3]
score1 = int( data1[4:6] )
score2 = int( data1[7:9] )
score3 = int( data1[10:] )
sum1 = score1+score2+score3 
avg1 = sum1/3 

print(  message.format(name,sum1,avg1)  )
    
name = data2[:3]
score1 = int( data2[4:6] )
score2 = int( data2[7:9] )
score3 = int( data2[10:] )
sum1 = score1+score2+score3 
avg1 = sum1/3 

message = "{}의 점수 합은 {:3d}이고 평균은 {:.2f}입니다. " 
print(  message.format(name,sum1,avg1)  )

홍길동의 점수 합은 240이고 평균은 80.00입니다.
김영희의 점수 합은 270이고 평균은 90.00입니다.

In [54]:
str = "workspace"  
# str문자열 중 space 문자열은 몇번 인덱스에 있는가?  
print (str.find("space"))

4