# 챕터 2-1 자료형과 문자열

In [1]:
print("허훈")

허훈

In [2]:
print('안녕하세요')
print(type('안녕하세요'))
print(type(270))

안녕하세요
<class 'str'>
<class 'int'>

### print 을 해야 모두 출력해준다.

In [3]:
('안녕하세요')
(type('안녕하세요'))
print(type(270))

<class 'int'>

In [4]:
print ( '안녕하세요'+ " "+ '저는'+ " "+ '허훈입니다.')

안녕하세요 저는 허훈입니다.

In [5]:
print ( "'배불러서' 졸려요." )

'배불러서' 졸려요.

In [6]:
print ( "\t'배불러서' \n 졸려요." )

	'배불러서'
 졸려요.

\t 탭 <br>
\n 줄바꾸기

In [7]:
print ("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
(후렴)
가
나
다
라

무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
(후렴)
가
나
다
라

무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세

In [8]:
print("안녕하세요"+"1")

안녕하세요1

In [9]:
print("안녕하세요"+" "+"하이")

안녕하세요 하이

In [10]:
print(("안녕하세요" + " " )* 3)

안녕하세요 안녕하세요 안녕하세요

In [11]:
print(("ㅋㅋㄹㅃㅃ" + " ") * 5)

ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ ㅋㅋㄹㅃㅃ

In [12]:
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

안
녕
하
세
요

In [13]:
print("안녕하세요"[0])
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])

안
요
세
하
녕

In [14]:
print('안녕하세요'[0:5])

안녕하세요

In [15]:
print('안녕하세요'[1:])

녕하세요

In [16]:
hellooo = "안녕하세요"
print(hellooo[0:5])

안녕하세요

In [17]:
print(len(hellooo))

5

In [18]:
print("# 연습문제")
print("\\\\\\\\")
print(("_"+" ") * 8)

# 연습문제
\\\\
_ _ _ _ _ _ _ _

In [19]:
print('안녕하세요'[0])
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

안
녕
하
세
요

In [20]:
print('안녕하세요'[:])

안녕하세요

# 챕터 2-2

In [21]:
a = int(137080)
a

137080

In [22]:
137080 % 500

80

In [23]:
money = 137080

c500 = money // 500
money %= 500 # 500으로 나눈 나머지

c100 = money // 100
money %= 100 # 100으로 나눈 나머지

c50 = money // 50
money %= 50 # 50으로 나눈 나머지

c10 = money // 10
money %= 10 # 10으로 나눈 나머지

print('오백원\t==> %d 개'%c500)
print('백원\t==> %d 개'%c100)
print('오십원\t==> %d 개'%c50)
print('십원\t==> %d 개'%c10)
print('잔돈\t==> %d 원'%money)

오백원	==> 274 개
백원	==> 0 개
오십원	==> 1 개
십원	==> 3 개
잔돈	==> 0 원

In [24]:
money = 137080
money

137080

In [25]:
a = money // 500
money %= 500

b = money // 100
money %=100

c = money // 50
money %=50

d = money // 10
money %=10

print('오백원 개수 :', a)
print('백원 개수 :', b)
print('오십원 개수 :', c)
print('십원 개수 :', d)

오백원 개수 : 274
백원 개수 : 0
오십원 개수 : 1
십원 개수 : 3

# 챕터 2-3

In [26]:
pi = 3.14159265
print( pi + 2)
print( pi - 2)
print( pi * 2)
print( pi / 2)
print( pi % 2)
print( pi *pi)

5.14159265
1.1415926500000002
6.2831853
1.570796325
1.1415926500000002
9.869604378534024

In [27]:
a = 10
a+=10
a

20

### input

In [28]:
string = input( "인사말을 입력하세요" )
print(string + " !!!")

인사말을 입력하세요hi
hi !!!

### input = 무조건 str으로 나온다(+ 연산이 되지 않는다)

In [29]:
string = input( "숫자를 입력하세요" )
print(string + " !!!")
print(type(string))

숫자를 입력하세요12
12 !!!
<class 'str'>

In [30]:
string = input( "숫자를 입력하세요" )
print(string + " !!!")
print(type(string))

print(string + 100)

숫자를 입력하세요12
12 !!!
<class 'str'>

TypeError: can only concatenate str (not "int") to str

# 캐스트 (데이터 종류 변환)

In [31]:
a = input("국어 점수를 입력하세요.")
int_a = int(a)
b = input("영어 점수를 입력하세요.")
int_b = int(b)
c = input("수학 점수를 입력하세요.")
int_c = int(c)

print(type(int_a))
print(type(int_b))
print(type(int_c))

total = int_a + int_b + int_c

print("총합은 : ", total)


average = (int_a + int_b + int_c)/3

print("평균은 : ", average)

print(type(int_a))

국어 점수를 입력하세요.50
영어 점수를 입력하세요.80
수학 점수를 입력하세요.100
<class 'int'>
<class 'int'>
<class 'int'>
총합은 :  230
평균은 :  76.66666666666667
<class 'int'>

In [32]:
apple = input("사과 주문량을 적어주세요 :")

pear = input("배 주문량을 적어주세요 :")

total = ((int(apple)*1000) + (int(pear)*2000))
print('총 가격은',total,"입니다.")

사과 주문량을 적어주세요 :3
배 주문량을 적어주세요 :2
총 가격은 7000 입니다.